mkdocs-material[imaging]
mkdocs-git-revision-date-localized-plugin>=1.2.9
termynal>=0.12.1
mkdocs-minify-plugin~=0.7,
mkdocs-redirects~=1.2,
mkdocs-rss-plugin~=1.6,
mkdocs-git-committers-plugin-2~=1.1,
mkdocs-git-revision-date-localized-plugin~=1.2,>=1.2.4,
pillow~=10.2,
cairosvg~=2.6
mkdocs-minify-plugin
mkdocs-macros-plugin