table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

pre {
    white-space: pre-wrap;
    /* Wrap text within the cell */
    word-wrap: break-word;
    /* Break long words */
}